services:
  vote:
    build:
      context: ./vote
      target: final
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "5000:80"
    networks:
      - front-tier
      - back-tier

  result:
    build:
      context: ./result
      target: final
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5001:80"
    networks:
      - front-tier
      - back-tier

  worker:
    build:
      context: ./worker
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    networks:
      - back-tier

  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
    networks:
      - back-tier

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
    networks:
      - back-tier

networks:
  front-tier:
  back-tier:
