name: Run Voting App (CI)

on:
  workflow_dispatch:
  push:
    branches: [ devops-full-pipeline ]

jobs:
  run-stack:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Docker info
        run: |
          docker version
          docker compose version

      - name: Build CI images
        run: docker compose -f docker-compose.ci.yml build

      - name: Run CI stack
        run: docker compose -f docker-compose.ci.yml up -d

      - name: Wait for services to be ready
        run: sleep 20

      - name: Show running containers
        run: docker ps -a

      - name: Show logs (vote & result)
        run: docker compose -f docker-compose.ci.yml logs vote result

      - name: Smoke test (inside containers)
        run: |
          docker compose -f docker-compose.ci.yml exec -T vote curl -f http://localhost
          docker compose -f docker-compose.ci.yml exec -T result curl -f http://localhost

      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.ci.yml down -v
