name: Run Voting App (CI)

on:
  workflow_dispatch:
  push:
    branches: [ devops-full-pipeline ]

jobs:
  run-stack:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Docker info
        run: |
          docker version
          docker compose version

      - name: Build CI images
        run: docker compose -f docker-compose.ci.yml build

      - name: Run CI stack
        run: docker compose -f docker-compose.ci.yml up -d

      - name: Show running containers
        run: docker ps

      - name: Smoke test
        run: |
          curl http://localhost:5000
          curl http://localhost:5001

      - name: Logs
        run: docker compose -f docker-compose.ci.yml logs

      - name: Cleanup
        if: always()
        run: docker compose -f docker-compose.ci.yml down
