name :  CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  test:
    runs-on: ubuntu-latest

  steps:
    - name: checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with: 
        python-version: 3.10

    - name: Install dependencies
      uses: pip install -r requirements.txt

    - name: Run tests
      uses: pytest
