name: Sysdig Voting App Image Scans

on:
  workflow_dispatch:

jobs:
  build-scan-images:
    runs-on: ubuntu-latest

    steps:

      #1 Checkout code
      - name: Check out repository
        uses: actions/checkout@v4

      #2 Build Docker images
      - name: Build vote image
        run: docker build -t vote-app:latest ./vote

      - name: Build worker image
        run: docker build -t worker-app:latest ./worker

      - name: Build result image
        run: docker build -t result-app:latest ./result

      #3 Scan vote image with Sysdig
      - name: Scan vote image
        id: scan-vote
        uses: sysdiglabs/scan-action@v5
        with:
          image-tag: vote-app:latest
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          stop-on-failed-policy-eval: true
          stop-on-processing-error: true

      - name: Upload vote SARIF
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ github.workspace }}/sarif.json

      #4 Scan worker image
      - name: Scan worker image
        id: scan-worker
        uses: sysdiglabs/scan-action@v5
        with:
          image-tag: worker-app:latest
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          stop-on-failed-policy-eval: true
          stop-on-processing-error: true

      - name: Upload worker SARIF
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ github.workspace }}/sarif.json

      #5 Scan result image
      - name: Scan result image
        id: scan-result
        uses: sysdiglabs/scan-action@v5
        with:
          image-tag: result-app:latest
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          stop-on-failed-policy-eval: true
          stop-on-processing-error: true

      - name: Upload result SARIF
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ github.workspace }}/sarif.json
